body{
  color: #A7ACB6;
  background: #292E34;
}

hr{
  border-color: #5C626B;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.controller {
  position: fixed;
  bottom: 1em;
  left: 1em;
  cursor: pointer;
}

.full-screen-canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.home-button {
  position: absolute;
  top: 1em;
  left: 1em;
}

.text-button {
  margin-right: .5em;
}

/* Overide some of Skeleton's styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: rgba(0,0,0,0.05);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
  box-sizing: border-box;
  transition: background-color .25s, background-color .5s, border .25s;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: none;
  background-color: rgba(255,255,255,0.1);
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  color: #A7ACB6;
  background-color: rgba(255,255,255,0.1);
  -webkit-transition: color .25s, background-color .5s, border .25s; /* Safari */
  transition: color .25s, background-color .5s, border .25s;
  margin-right: .5em;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #FFFFFF;
  background-color: rgba(255,255,255,0.25);
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFFFFF;
  background-color: #33C3F0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: rgb(21, 165, 210);
}
